[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.2"
flask-cors = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
pickle-mixin = "*"
joblib = "*"
gunicorn = "*"
flask-swagger-ui = "*"
PyYAML = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.11"
